
<% if @me.role.forum_can('reply', 'forum', @topic.forumcategory_id) and (!@topic.locked or @me.role.forum_can('mod', 'forum', @topic.forumcategory_id)) %>
   
  <ul id="quickreply">
    <li class="top"><span class="le">Reactie</span></li>
    <li class="bottom">
      <%= error_messages_for "message", :header_message => "Problemen", :message => "Foutieve input" %>

      <%= form_for :message, :url => { :action => "newmessage", :id => @topic.id } do |form| -%>

        <div id="wysihtml5-toolbar" style="display: none;">
          <ul>
            <li class=image data-wysihtml5-command="bold"><%= image_tag 'men_b.gif' %></li>
            <li class=image data-wysihtml5-command="underline"><%= image_tag 'men_u.gif' %></li>

            <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
            <li class=image data-wysihtml5-command="createLink"><%= image_tag 'men_l.gif' %></li>
            <li class=image data-wysihtml5-command="insertImage"><%= image_tag 'men_i.gif' %></li>
          </ul>

          <div data-wysihtml5-dialog="createLink" style="display: none;">
            <label>
              Link:
              <input data-wysihtml5-dialog-field="href" value="http://" class="text">
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>

          <div data-wysihtml5-dialog="insertImage" style="display: none;">
            <label>
              Image:
              <input data-wysihtml5-dialog-field="src" value="http://">
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a>
            <a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>
        </div>

        <%= form.text_area :message, "rows" => 5, "cols" => 0, :style => "width: 100%;", :id => "wysihtml5-textarea"  %><br />
        <input type="hidden" id="tmode" name="message[postmode]" value="new" />
        <%= submit_tag "Plaats reactie", :class => "submit", :onclick => "document.getElementById('tmode').value='new'" -%>
      <% end %>
      <br style="clear: both" />
    </li>
  </ul>

  <!-- wysihtml5 parser rules -->
  <script src="/javascripts/wysihtml5/parser_rules/advanced.js"></script>
  <!-- Library -->
  <script src="/javascripts/wysihtml5/dist/wysihtml5-0.3.0.min.js"></script>

  <script>
    var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
      toolbar:      "wysihtml5-toolbar", // id of toolbar element
      parserRules:  wysihtml5ParserRules // defined in parser rules set 
    });
  </script>

<% end %>

