<ul id="forumhead">
  <li class="top">
    <ul>
      <li class="tinfo"><%= link_to 'Forums', viewforumindex_url %> > <%= link_to sanitize(@forum.title), viewforum_url(:id => @forum.id) %> > <%= h @topic.title[0..60] -%><% if @topic.title.size > 60 -%>..<% end -%></li>
    </ul>
  </li>
  <li class="bottom">
    <ul>
      <%= render :partial => "forum/menu" -%>
    </ul>
  </li>
</ul>
<%= form_for :topic do |form| -%>
<ul id="quickreply">
<li class="top"><span class="le">Verwijder "<%=h @topic.title -%>"</span></li>
<li class="bottom">
	<table id="forum_topic" style="margin-left: 8px;">
	  <tr class="gray">
	    <td>Het topic is na het verwijderen niet meer terug te halen.</td>
	  </tr>
    <tr class="noborder">
      <td>
     <%= submit_tag "Verwijderen", :class => "submit" -%>
      </td>
    </tr>
	</table>
</li>
</ul>
<% end -%>