<ul id="forumhead">
  <li class="top">
    <ul>
      <li class="tinfo"><%= link_to 'Forum', viewforumindex_url %> > <%= link_to sanitize(@forum.title), viewforum_url(:id => @forum.id) %> > <%= h @topic.title[0..60] -%><% if @topic.title.size > 60 -%>..<% end -%></li>
    </ul>
  </li>
  <li class="bottom">
    <ul class="forummenu">
      <%= render :partial => "forum/menu" -%>
    </ul>
  </li>
</ul>
<ul id="quickreply">
<li class="top"><span class="le">Meld misbruik in <%= h @topic.title[0..50] -%><% if @topic.title.size > 50 -%>..<% end -%></span></li>
  <li class="bottom">
    <%= form_for :report, :url => { :action => "reportmessage", :id => @message.id } do |form| -%>
          <%= error_messages_for "report", :header_message => "Problemes", :message => "Vous avez indiqué information invalde" %>
    <%= form.text_area :message, "rows" => 20, "cols" => 104, :value => @msg[0]  %><br />
      <%= submit_tag "Melden", :class => "submit", :onclick => "document.getElementById('tmode').value='new'" -%>

  <% end %>
    <br style="clear: both" />
  </li>
</ul>
