<h2>Mail</h2>
<%= form_for :mail, @mail, :url => {:action => 'sendmail', :id => params[:id]} do |f| -%>
	<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label "Naar" %><br />
  <%= f.text_field :to, :value => @email %>
</p>
<p>
  <%= f.label "Van" %><br />
  <%= f.text_field :from, :value =>'info@xposers.nl' %>
</p>
<p>
  <%= f.label :content %><br />
  <%= f.text_area :content %>
</p>
<p>
  <%= f.submit "Versturen" %>
</p>
<% end -%>