
<h2>Aankoop van "<%=h @aankoop.kunstvoorwerp.title -%>" </h2>
<h3>Aangekocht door</h3>
<ul>
  <li>Naam: <%=h @aankoop.user.voornaam %> <%=h @aankoop.user.achternaam %></li>
  <li>Adres: <%=h @aankoop.user.prive_adres %>, <%=h @aankoop.user.prive_postcode %> <%=h @aankoop.user.prive_woonplaats %></li>
  <li>Tel.: <%=h @aankoop.user.prive_telefoonnummer %></li>
  <li>Email adres: <%= link_to sanitize(@aankoop.user.email), 'mailto:' + sanitize(@aankoop.user.email) %></li>
</ul>

<h3>Verkopende partij</h3>
<ul>
  <li>Naam: <%=h @aankoop.kunstvoorwerp.user.voornaam %> <%=h @aankoop.kunstvoorwerp.user.achternaam %></li>
  <li>Adres: <%=h @aankoop.kunstvoorwerp.user.prive_adres %>, <%=h @aankoop.kunstvoorwerp.user.prive_postcode %> <%=h @aankoop.kunstvoorwerp.user.prive_woonplaats %></li>
  <li>Tel.: <%=h @aankoop.kunstvoorwerp.user.prive_telefoonnummer %></li>
  <li>Bank nr.: <%=h @aankoop.kunstvoorwerp.user.prive_bankrek %></li>
  <li>Email adres: <%= link_to sanitize(@aankoop.kunstvoorwerp.user.email), 'mailto:' + sanitize(@aankoop.kunstvoorwerp.user.email) %></li>
</ul>

<h3>Verkoop van "<%=h @aankoop.kunstvoorwerp.title -%>"</h3>
<ul>
  <li>Titel: "<%=h @aankoop.kunstvoorwerp.title -%>"</li>
  <% if @aankoop.prijs != @aankoop.kunstvoorwerp.prijs %>
    <li><strong>Let op!</strong> De prijs tijdens de aankoop kwam niet overeen met de prijs die nu in de database staat.<br />Prijs tijdens aankoop: EUR <%=h @aankoop.prijs -%><br />Huidige prijs: EUR <%=h @aankoop.kunstvoorwerp.prijs -%></li>
  <% else %>
    <li>Prijs: <%=h @aankoop.prijs -%></li>
  <% end -%>
  <li>Order Nummer: <%= sanitize(params[:id].to_s) -%></li>
  <li>Verzendmethode: <% if @aankoop.kunstvoorwerp.verzendmethode == 0 -%>kan in de brievenbus en dat regel ik zelf<% elsif @aankoop.kunstvoorwerp.verzendmethode == 1 -%>versturen via pakketpost en dat regel ik zelf<% elsif @aankoop.kunstvoorwerp.verzendmethode == 2 -%>versturen via de pakketpost en dat regelt Xposers<% elsif @aankoop.kunstvoorwerp.verzendmethode == 3 -%>kan niet via pakketpost, neem contact met mij op<% end -%></li>
</ul>

<h3>Wijzig status</h3>
<%= form_for :aankoop do |form| -%>
  <select name='aankoop[status]'>
    <option value="nieuw"<% if @aankoop.status == 'nieuw' -%> selected<% end -%>>Nieuw</option>
    <option value="inbehandeling"<% if @aankoop.status == 'inbehandeling' -%> selected<% end -%>>In behandeling</option>
    <option value="verzonden"<% if @aankoop.status == 'verzonden' -%> selected<% end -%>>Verzonden</option>
    <option value="afgehandeld" <% if @aankoop.status == 'afgehandeld' -%> selected<% end -%>>Afgehandeld</option>
  </select><br />
  <input type="checkbox" name="aankoop[delete]"/>Maak aankoop ongedaan<br />
  <% if !@aankoop.kunstvoorwerp.verkocht -%>
    <input type="checkbox" name="aankoop[done]"/>Zet object op verkocht<br />
  <% else -%>
    <input type="checkbox" name="aankoop[revert]"/>Zet object op niet verkocht<br />
  <% end -%>
  <input type="submit" name="submit" value="Verzenden">
<% end %>


<h3>Stuur bericht</h3>
<%= form_for :mail, :url => {:action => 'mailing', :id => @aankoop.id} do |form| -%>
  <select name="mail[to]">
    <option value="k">Koper: <%=h @aankoop.user.voornaam %> <%=h @aankoop.user.achternaam %></option>
    <option value="v">Verkoper: <%=h @aankoop.kunstvoorwerp.user.voornaam %> <%=h @aankoop.kunstvoorwerp.user.achternaam %></option>
  </select>
  <select name="mail[message]">
    <% Prefabmail.find(:all).each do |p| -%>
      <option value="<%=h p.id -%>"><%=h p.title -%></option>
    <% end -%>
  </select>
  <%= form.submit "mail" -%>
<% end -%>
